[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
selenium = "*"
click = "*"
pyyaml = "*"
requests = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.10"
